

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    flex-grow: 1;
    flex-shrink: 0;
}
/*div {
    border: solid black 1px;
}*/
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    background-color: skyblue;
    justify-content: space-between;
    padding: 15px;
}
.top-links {
    display: flex;
    gap: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.first-box{
    display: flex;
    justify-content: center;
    background-color: skyblue;
    height: 300px;
}
.first-box-l {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 350px;
    gap: 10px 0px;
    padding-bottom: 30px;
}

.first-box-button {
    max-width: 100px;
    padding: 5px;
    border-radius: 10px;
}
.pic-main-div {
    padding: 50px;
    /*height: 150px;*/
    width: auto;
    object-fit: contain;
    overflow: hidden;
}
.takeoff {
    /*object-fit: contain;*/
    max-width: 400px;
    height: auto;
    overflow: hidden;
}
.second-box {
    text-align: center;
}
.random {
    padding: 0px;
    margin: 20px auto;
    margin-top: 50px;
}
.image-div {
    display: flex;
    justify-content: center;
    padding: 30px;
    gap: 30px;
    
}
.gallery-pictures {
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 30px;
}
.gal-pics {
    height: 100px auto;
    margin: 0 auto;
    border-radius: 30px;
}
.caption {
    padding-top: 5px;
}

.third-box {
    height: 150px;
    flex-wrap: wrap;
    
    padding: 40px 60px;
    background-color: lightgray;
    
}
.inspiring-text {
    
    max-width: 700px;
    margin: auto;
}
.fourth-box {
    
    display: flex;
    justify-content: center;
    margin-bottom: auto;
    height: 200px;
}
.call-to-action {
    display: flex;
    justify-content: space-between;
    background-color: blue;
    width: 750px;
}
.call-to-action > div {
    background-color: yellow;
    justify-content: space-between;
    margin: auto;
}
.footer {
    display: flex;

    /*text-align: center;*/
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    height: 35px;
    margin-top: auto;
    flex-shrink: 0;
}

/*
Made h1 header
added button
Sorted liks
Added image from relative path  - needs to fit its container
*/
