

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container {
    flex-grow: 1;
    flex-shrink: 0;
}
div {
    border: solid black 1px;
}
body {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    background-color: skyblue;
    justify-content: space-between;
    padding: 15px;
}
.top-links {
    display: flex;
    
    gap: 20px;
}
.first-box{
    display: flex;
    justify-content: center;
    background-color: skyblue;
}
.second-box {
    text-align: center;
}
.image-div {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.third-box {
    height: 150px;
    flex-wrap: wrap;
    text-align: left;
    padding: 40px 60px;
    background-color: lightgray;
}
.fourth-box {
    display: flex;
    justify-content: center;
    margin-bottom: auto;
}
.footer {
    display: flex;

    /*text-align: center;*/
    align-items: center;
    justify-content: center;
    background-color: skyblue;
    height: 35px;
    margin-top: auto;
    flex-shrink: 0;
}

/*added color
made hyper links at top
edited footer
*/
